nav {
  background: #333;
  padding: 1rem;
  display: flex;
  gap: 15px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-underline-offset: 4px;
  text-decoration: underline;
}

button {
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #646cff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}